.main__catalog
   display: flex
   flex-direction: row
   padding-top: 71px
   .main__aside
      margin-right: 50px
      .main__sidebar-form
         width: 243px
         display: flex
         flex-direction: column
         .main__sidebar-list
            display: flex
            &:not(:last-child)
               margin-bottom: 18px
            &[open] summary::after
               content: "\f0d8"
               color: #ef5b70
            .main__sidebar-list-title
               border-left: 5px solid #ef5b70
               font-size: 14px
               line-height: 20px
               font-weight: 700
               text-transform: uppercase
               color: #ef5b70
               padding: 12px 5px 14px 11px
               display: flex
               flex-direction: row
               justify-content: space-between
               border-bottom: 1px solid #ebebeb
               &::after
                  content: "\f0d7"
                  font-family: "FontAwesome"
                  color: #6f6e6e
               &::-webkit-details-marker
                  display: none
            .main__sidebar-list-nav
               margin: 22px 0 0 16px
               &:nth-child(n) a
                  font-size: 14px
                  line-height: 33px
                  font-weight: 600
                  color: #6f6e6e
   .main__catalog-content
      display: flex
      flex-direction: column
      flex-grow: 1
      .main__catalog-filters
         display: flex
         flex-direction: row
         justify-content: space-between
         .main__filter
            display: flex
            flex-direction: column
            &:nth-child(1)
               width: 20.9%
            &:nth-child(2)
               width: 27.87%
            &:nth-child(3)
               justify-content: space-between
               width: 31.06%
            h3
               line-height: 20px
               font-weight: 700
               text-transform: uppercase
               color: #6f6e6e
               margin-bottom: 25px
            .main__trends-btns
               display: flex
               flex-direction: row
               flex-wrap: wrap
               button, span
                  line-height: 26px
                  font-weight: 600
                  color: #6f6e6e
                  background-color: #ffffff
               span
                  color: #dfdfdf
                  padding: 0 11px 0 11px
            .main__size-vars
               display: flex
               flex-direction: row
               flex-wrap: wrap
               align-items: center
               &:not(:last-child)
                  margin-bottom: 13px
               .main__size-var
                  width: 46px
                  display: flex
                  flex-direction: row
                  align-items: center
                  &:not(:last-child)
                     margin-right: 17px
                  label
                     font-weight: 600
                     text-transform: uppercase
                     color: #6f6e6e
                     padding-left: 9px
            .main__price-trackbar
               display: flex
               flex-direction: column
               .main__range-controls
                  height: 6px
                  background-color: #f0f0f0
                  border-radius: 3px
                  margin-bottom: 21px
                  position: relative
                  .main__range-scale
                     display: flex
                     flex-direction: row
                     align-items: center
                     position: absolute
                     top: -4px
                     width: 100%
                     left: 23px
                     .main__range-toggle
                        width: 14px
                        height: 14px
                        background-color: #f16d7f
                        border-radius: 50px
                        cursor: pointer
                        &:first-child
                           margin-right: -7px
                        &:last-child
                           margin-left: -7px
                     .main__range-bar
                        height: 6px
                        width: 53%
                        background-color: #f16d7f
                        cursor: pointer
               .main__range-price
                  display: flex
                  flex-direction: row
                  justify-content: space-between
                  label
                     display: flex
                     flex-direction: row
                     align-items: center
                     width: 32px
                     span, input
                        line-height: 26px
                        font-weight: 600
                        color: #6f6e6e
      .main__catalog-sort
         padding-left: 9px
         margin: 42px 0 48px 0
         background-color: #f3f3f3
         height: 50px
         display: flex
         flex-direction: row
         align-items: center
         .main__sort-select
            display: flex
            flex-direction: row
            align-items: center
            border: 1px solid #ebebeb
            background-color: #ffffff
            padding-right: 5px
            &:first-child
               margin-right: 10px
            h2, select
               height: inherit
               text-transform: capitalize
               font-weight: 400
               color: #6f6e6e
               line-height: 28px
            h2
               border-right: 1px solid #ebebeb
               padding: 0 8px 0 12px
            select
               padding: 0 10px 0 5px
      .main__catalog-items
         display: flex
         flex-direction: row
         flex-wrap: wrap
         justify-content: space-between
         .main__catalog-item
            position: relative
            transition: all 0.3s ease-in
            margin-bottom: 39px
            .main__catalog-item-info
               display: flex
               flex-direction: column
               img
                  height: 279px
                  width: 261px
                  position: relative
                  &:nth-child(2n-1)
                     border: 1px solid #f1f7fa
               .main__catalog-item-disc
                  display: flex
                  flex-direction: column
                  margin: 19px 0 21px 14px
                  h3
                     font-size: 13px
                     line-height: 1.2
                     font-weight: 700
                     text-transform: uppercase
                  h3:last-child
                     font-size: 16px
                     color: #f16d7f
                     margin-top: 17px
            &:hover
               box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)
            .main__catalog-item-hover
               height: 279px
               position: absolute
               top: 0
               display: none
               img
                  margin-right: 8px
               .main__catalog-item-cart
                  background-color: transparent
                  display: none
                  flex-direction: row
                  align-items: center
                  position: absolute
                  top: 98px
                  left: 70px
                  border: 2px solid #ffffff
                  font-weight: 700
                  font-size: 13px
                  padding: 10px 13px 7px 12px
                  color: #ffffff
            &:hover .main__catalog-item-hover
               display: flex
               background-color: rgba(58, 56, 56, 0.6)
               width: 261px
               height: 279px
            &:hover .main__catalog-item-cart
               display: flex
      .main__catalog-pages
         display: flex
         flex-direction: row
         justify-content: space-between
         .main__catalog-pagination
            display: flex
            flex-direction: row