.header__wrap
   display: grid
   grid-template-rows: 10.7857rem
   grid-template-columns: 100vw
   position: fixed
   top: 0
   left: 0
   z-index: 1
   background-color: #ffffff
   .header
      display: grid
      grid-template-rows: minmax(7.1429rem, auto) 3.6429rem
      .header__top
         display: grid
         grid-template-columns: 165px auto 188px
         grid-column-gap: 37px
         align-items: center
         .header__logo
            display: flex
            align-items: center
            justify-content: space-between
            font-size: 27px
            text-transform: uppercase
            font-weight: 300
            span
               color: #f16d7f
               font-weight: 900
         .header__form
            display: grid
            grid-template-columns: 87px 279px 37px
            grid-template-rows: 38px
            align-items: center
            align-content: center
            .header__browse-btn,
            .header__browse-searsh,
            .header__browse-searsh-btn
               height: 100%
            .header__browse-btn
               text-transform: capitalize
               font-weight: 300
               background-color: #f8f8f8
               border: 1px solid #e6e6e6
               border-radius: 3px 0 0 3px
               i
                  transform: translateY(-15%)
                  color: #838383
                  padding-left: 5px
            .header__browse-searsh
               border-top: 1px solid #e6e6e6
               border-bottom: 1px solid #e6e6e6
               padding-left: 15px
               &::placeholder
                  color: #a4a4a4
                  font-weight: 300
            .header__browse-searsh-btn
               border: 1px solid #e6e6e6
               background-color: #ffffff
               border-radius: 0 3px 3px 0
               i
                  color: #a4a4a4
         .header__login
            display: grid
            grid-template-columns: 32px auto
            grid-template-rows: 38px
            grid-column-gap: 26px
            .header__login-btn
               text-transform: capitalize
               font-size: 15px
               background-color: #f16d7f
               border: 1px solid #f16d7f
               padding: 0 12px 0 18px
               color: #ffffff
               i
                  transform: translateY(-17%)
                  padding-left: 5px
                  color: #ffffff
      .header__navigation
         display: grid
         grid-template-rows: 51px
         grid-template-columns: 680px
         justify-content: center
         align-items: center
         .header__nav-list
            display: flex
            align-items: center
            justify-content: space-between
            .header__nav-link
               text-transform: uppercase
               font-weight: 700
               align-self: center
      .header__breadcrumbs-wrap
         background-color: #f8f3f4
         min-height: 148px
         .header__nav-breadcrumbs
            min-height: inherit
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            .header__breadcrumbs-name
               font-size: 24px
               line-height: 20px
               font-weight: 900
               text-transform: uppercase
               color: #f16d7f
            .header__breadcrumbs
               display: flex
               flex-direction: row
               &:nth-child(n)
                  line-height: 20px
                  font-weight: 400
                  text-transform: uppercase
                  color: #636363
               li + li::before
                  content: "/"
                  color: #636363
                  padding: 0 5px
               .header__breadcrumb-active
                  font-weight: 700
                  color: #f16d7f
