.main
   .main__top
      background-color: #e8e8e8
      margin-bottom: 98px
      .main__top-content
         min-height: 614px
         display: flex
         align-items: center
         background: url("https://raw.githubusercontent.com/Mangecu/GeekBrains_proHTML/gh_project/src/assets/imgs/Index_topHeaderBack.png") no-repeat
         background-position-x: 80%
         background-size: 558px 965px
         .main__name
            border-left: 12px solid #f16d7f
            padding-left: 12px
            h2:first-child
               text-transform: uppercase
               letter-spacing: 1.5px
               line-height: 43px
               font-size: 60px
               font-weight: 900
            h2:last-child
               text-transform: uppercase
               font-size: 40px
               letter-spacing: 1px
               font-weight: 900
               line-height: 30px
               padding-top: 20px
               span
                  color: #f16d7f
   .main__offer
      min-height: 823px
      display: flex
      flex-direction: row
      margin-bottom: 100px
      .main__offer-wrap
         display: flex
         flex-direction: column
         &:first-child
            margin-right: 21px
         .main__offer-item
            position: relative
            &:first-child
               margin-bottom: 20px
            .main__offer-badge
               display: flex
               flex-direction: column
               position: absolute
               top: 26px
               background-color: #ffffff
               padding: 16px 19px 16px 21px
               div
                  text-transform: uppercase
                  font-size: 18px
                  font-weight: 900
                  letter-spacing: 0.025em
                  &:last-child
                     font-size: 30px
                     color: #f16d7f
   .main__fetured
      display: flex
      flex-direction: column
      .main__fetured-title
         display: flex
         flex-direction: column
         align-items: center
         h2
            font-size: 30px
            font-weight: 700
            letter-spacing: 0.025em
            line-height: 23px
            margin-bottom: 16px
         p
            letter-spacing: 0.025em
            color: #9f9f9f
            line-height: 11px
            margin-bottom: 60px
      .main__fetured-items
         display: flex
         flex-direction: row
         flex-wrap: wrap
         justify-content: space-around
         .main__item-info
            display: flex
            flex-direction: column
            img
               width: 261px
               height: 280px
            .main__item-discr
               display: flex
               flex-direction: column

