.header

   &__top
      padding: 25px 0 23px
      border-bottom: 1px solid var(--gray-5)

   &__wrap
      display: flex
      align-items: center
      gap: 37px

   &__actions
      display: flex
      align-items: center
      gap: 26px
      margin-left: auto
