.header
   .header__top
      padding: 25px 0 23px
      border-bottom: 1px solid var(--gray-5)
      .header__wrap
         display: flex
         align-items: center
         gap: 37px
         .header__input
            height: 38px
            border: 1px solid var(--gray-6)
            border-radius: 3px
            width: 50%
         .header__actions
            display: flex
            align-items: center
            justify-self: end
            gap: 26px
            flex-grow: 1
            justify-content: end
            .header__button
               padding: 9px 14px
               display: flex
               gap: 8px
               align-items: center
               font-size: 15px
               font-weight: 400
               color: var(--white)
               background-color: var(--pink-2)
               border: 1px solid var(--pink-2)
               white-space: nowrap
               transition: 300ms
               &:hover
                  color: var(--pink-2)
                  background-color: var(--white)




