.input
   display: flex
   align-items: center
   font-family: "Lato", sans-serif
   font-size: 14px
   font-weight: 300
   line-height: 32px
   letter-spacing: 0.025em
   color: var(--black)
   .input__field
      height: 100%
      flex-grow: 1
   .input__field_header
      border-right: 1px solid var(--gray-6)
      border-left: 1px solid var(--gray-6)
      padding-left: 15px
      &::placeholder
         color: var(--gray-9)
   .input__btn_header
      padding: 0 10px 0 11px
      color: var(--gray-9)









