.button
   font-family: 'Lato', sans-serif
   letter-spacing: 0.025em
   text-align: center
   transition: opacity 200ms ease-in-out, background 200ms ease-in-out
.button--header
   padding: 9px 14px
   display: flex
   gap: 8px
   align-items: center
   font-size: 15px
   font-weight: 400
   color: var(--white)
   background-color: var(--pink-2)
   border: 1px solid var(--pink-2)
   white-space: nowrap
   transition: 300ms
   &:hover
      color: var(--pink-2)
      background-color: var(--white)
.button--card
   border: 1px solid var(--white)
   color: var(--white)
   white-space: nowrap
   font-size: 13px
   font-weight: 700
   display: flex
   align-items: center
   justify-content: center
   gap: 8px
   padding: 9px 12px 6px 11px
.button--product
   background-color: var(--pink-2)
   color: var(--white)
   display: flex
   gap: 9px
   padding: 17px 18px 18px 23px
   border: 1px solid var(--pink-2)
   font-size: 16px
   line-height: 15px
   font-weight: 700
   &:hover
      color: var(--pink-2)
      background-color: var(--white)



