.button
   font-family: 'Lato', sans-serif
   letter-spacing: 0.025em
   text-align: center
   transition: opacity 200ms ease-in-out, background 200ms ease-in-out
.button--header
   padding: 9px 14px
   display: flex
   gap: 8px
   align-items: center
   font-size: 15px
   font-weight: 400
   color: var(--white)
   background-color: var(--pink-2)
   border: 1px solid var(--pink-2)
   white-space: nowrap
   transition: 300ms
   &:hover
      color: var(--pink-2)
      background-color: var(--white)