.navigation
   font-family: "Lato", sans-serif
   .navigation__list_header
      display: flex
      justify-content: center
      gap: 48px
      //.navigation__item

      .navigation__item_header
         font-size: 14px
         line-height: 13px
         font-weight: 700
         text-transform: uppercase
         padding: 19px 0 16px
         .navigation__link_header
            color: var(--black)
   .navigation__list_footer
      display: flex
      flex-direction: column
      gap: 2px
      .navigation__item_footer
         font-family: "Lato", sans-serif
         font-size: 16px
         font-weight: 400
         letter-spacing: 0.025em
         line-height: 42px
         .navigation__link_footer
            color: var(--gray-13)