.navigation
   font-family: "Lato", sans-serif
   //&__header

   &__list

      &_header
         display: flex
         justify-content: center
         gap: 48px

      &_footer
         display: flex
         flex-direction: column
         gap: 2px
   &__item

      &_header
         font-size: 14px
         line-height: 13px
         font-weight: 700
         text-transform: uppercase
         padding: 19px 0 16px

      &_footer
         font-family: "Lato", sans-serif
         font-size: 16px
         font-weight: 400
         letter-spacing: 0.025em
         line-height: 42px

   &__link

      &_header
         color: var(--black)

      &_footer
         color: var(--gray-13)