:root {
    --white: #ffffff;
    --black: #222222;

    --gray-1: #fbfbfb;
    --gray-2: #f9f9f9;
    --gray-3: #f5f5f5;
    --gray-4: #e8e8e8;
    --gray-5: #ececec;
    --gray-6: #e6e6e6;
    --gray-7: #cdcdcc;
    --gray-8: #9f9f9f;
    --gray-9: #a4a4a4;
    --gray-10: #838383;

    --pink-1: #f38191;
    --pink-2: #f16d7f;

}

