.feature
   padding-top: 113px
   display: grid
   grid-template-rows: minmax(auto, 529px)
   grid-template-columns: auto 373px

   &__banner
      background-image: url("../../assets/image/img/Index_offerForWomen.jpg")
      background-size: cover
      background-repeat: no-repeat
      display: flex
      align-items: center
      padding: 0 0 161px 39px



   &__label
      font-family: "Lato", sans-serif
      font-weight: 700
      line-height: 1.2
      letter-spacing: 0.025em
      color: var(--white)
      text-transform: uppercase

      &_first
         font-size: 54px

         span
            color: var(--pink-2)

      &_second
         font-size: 32px

   &__content
      padding: 48px 36px
      background-color: var(--gray-11)
      overflow: hidden
      display: flex
      flex-direction: column
      justify-content: space-between

   &__item
      display: grid
      grid-template-columns: 1fr 5fr
      gap: 29px

      &_icon
         display: flex
         width: 51px
         height: 44px
         color: var(--pink-2)

   &__info
      font-family: "Lato", sans-serif
      letter-spacing: 0.025em
      color: var(--gray-1)

   &__title
      font-size: 20px
      line-height: 1.2
      font-weight: 700

   &__description
      font-size: 14px
      line-height: 24px
      font-weight: 300



